.services .box{
    transition: .4s;
}
.services .box .icon{}
.services .box .icon svg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    border: 1px solid gray;
    color: gray;
    font-size: 28px;
    transition: .4s;
}
.services .box:hover .icon svg{
    background-color: #ffae00;
    color: #051e3d;
    border: 1px solid #051e3d;
}
.services .box:hover{
    transform: translate(10px, 10px);
}